aside {
	float: right;
	margin-top: 30px;
	margin-right: 5px;
}

.toself {
	color: gray
}

.from_server {
	color: #00008B
}

#connected {
	color: green
}

#connected li.afk {
	color: orange
}

#connected li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#dest:hover {
	text-decoration: underline;
	cursor: pointer;
}

#chat_zone {
	float:left;
	margin-top: 25px;
	margin-bottom: 75px;
}

#chat_zone strong {
	color: white;
	background-color: black;
	padding: 2px;
}

#wait_please {
	color: #00008B
}

#gen_error {
	color: red;
}

#typing {
	color: #8fa5c6
}