aside {
	float: right
}

.toself {
	color: gray
}

.from_server {
	color: #00008B
}

#connected {
	color: green
}

#connected li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#dest:hover {
	text-decoration: underline;
	cursor: pointer;
}

#chat_zone strong {
	color: white;
	background-color: black;
	padding: 2px;
}

#key {
	height: 50px;
	width: 50px
}