<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChatNoir</title>
    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/lib/linkify.min.js"></script>
    <script src="/lib/linkify-jquery.min.js"></script>
    <script src="/lib/openpgp.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
  </head>
  <body onfocus="focus()">
    <img src="/img/online.png" id="afk" height="50" width="50"> <img src="/img/keyko.png" id="key" class="keyarea" hidden onclick="showkey()">
    <p>You are <b><span id="nickname">client-x</span></b>.</p>
    <p class="link" onclick="clickLogin()">Change nickname, login, or activate advanced features.</p>
    <p class="keyarea" hidden>
      <button id="genkey" onclick="genKey()">Generate key</button>
      <button onclick="genKeyNode()">Get key from local server</button>
      <button onclick="deleteKey()">Delete key</button> <button onclick="$('#chat_zone').empty()">Clear messages</button> <span id="wait_please" hidden>Request sent; please wait while your key is being generated...</span><span id="gen_error" hidden>An error occurred during key generation!</span>
    </p>
	
    <aside id="help">
      <h3 onclick="help()">Need help?</h3>
    </aside>
    <section id="chat_form">
      <input type="text" name="message" id="message" placeholder="Type your message here..." size="50" autofocus onkeydown="pressKey(event)" oninput="inputChange()" onfocus="inputChange()"/>
        <b> [to <span id="dest" onclick="selectConnected('all')">all</span>] </b>
        <img id="send_secured" class="keyarea" hidden src="/img/unsecured.png">
		<input id="checkbox_img" type="checkbox" onclick="toggleImg()"> img.
		<button id="upload_img" onclick="uploadImage()" hidden>Upload image</button>
      <button onclick="send()">Send</button>
	  <div id="typing"></div>
    </section>

    <aside id="connected">

    </aside>

    <section id="chat_zone">

    </section>
    <script src="/script.js"></script>
  </body>
</html>