<!DOCTYPE html>
<html lang="en">
  <head>
  <base href="/">
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="./style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
  </head>
  <body>
    <h1>The chat</h1>

    <form action="/" method="post" id="chat_form">
      <input type="text" name="message" id="message" placeholder="Type your message here..." size="50" autofocus />
      <input type="submit" id="envoi_message" value="Send" />
    </form>

  <section id="zone_chat">

  </section>
  </body>
</html>