<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Login to Chat</title>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/lib/sha256.min.js"></script>
  <script src="/script_login.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/style_login.css">
  <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body onload="load()">
  <header class="w3-container w3-teal w3-center">
    <h2>Choose your nickname (or login)</h2>
  </header>
<div class="w3-container w3-quarter"></div>
<div class="w3-container w3-half w3-margin-top">
  <section id="login_form" class="w3-container w3-card">
    <p><label for="nickname">Nickname</label><input id="nickname" class="w3-input" type="text" onkeydown="pressKey(event)" oninput="input(event)" autofocus></p>
	<p><label id="use_pass" class="link" onmouseover="explain('exp_pass')" onmouseleave="hideExplain('exp_pass')" onclick="showPassword()">I have a password.</label>
    <label for="password" class="password" hidden>Password</label><input id="password" class="password w3-input" type="password" onkeydown="pressKey(event)" style="display: none"></p>
	<p><label class="link" onmouseover="explain('exp_advanced')" onmouseleave="hideExplain('exp_advanced')"><input type="checkbox" class="w3-check" id="advanced" value="checkbox1"> Use advanced features.</label></p>
    <button id="login_btn" onclick="login()" class="w3-button w3-section w3-teal w3-ripple" disabled>Go to chat</button>
    <button id="signup_btn" onclick="signup()" class="w3-button w3-section w3-green w3-ripple w3-right">Create account</button>
  </section>
</div>

  <section id="explainations" class="w3-container w3-margin-top w3-center">
    <p id="exp_pass" hidden>Click here if you have an account on nodechat.</p>
    <p id="exp_advanced" hidden>Advanced features include key generation, encrypted messages, and server commands.</p>
  </section>
  <section id="errors" class="w3-container w3-margin-top w3-center">
    <p id="login_err"></p>
  </section>
</body>
</html>
